.nav {
    background-color: #1c1c1c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    color: #ffffff;
  }

  .lista li{
    margin: 10px 10px;
  }

.lista {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}
.nav img {
    height: 40px;
    width: auto;
    margin-left: 20px;
  }
@media (max-width:430px) {
  .nav {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    align-items: center;
  }

  .lista {
    flex-direction: column;
  }
}