.pelicula {
    width: 250px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 5px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin: 15px;
    background-color: #fff;
  }

  .portada {
    width: 100%;
    height: auto;
    border-radius: 6px;
    margin-bottom: 10px;
  }

.botones{list-style: none;
    border-radius: 20px;
    padding: 0;
}

    li.boton{
        margin-top: 3px;
        border-radius: 10px;
        margin-right: 15%;
        background-color: blueviolet;
        padding: 5px;
        text-align: center;
    }


    